// Override this file to add your own SCSS styling.

.navbar {
    height: 70px;
    background: black;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.11);
    font-size: 16.17px;
    padding: 0 1rem;
}