/* 
*   Footer back to top style
*/
:root {
    --button-float-bg: #f9f9fc;
    --button-float-bg-hover: #ececf6;
    --button-float-arrow: #2c3e50;
    --button-float-shadow: rgba(0, 0, 0, 0.1);
    --button-float-shadow-hover: rgba(0, 0, 0, 0.15);
}

[data-scheme="dark"] {
    --button-float-bg: #424242;
    --button-float-bg-hover: #383838;
    --button-float-arrow: rgba(255, 255, 255, 0.7);
    --button-float-shadow: rgba(0, 0, 0, 0.3);
    --button-float-shadow-hover: rgba(0, 0, 0, 0.5);
}
